.screen-header {
  display: flex;
  padding: var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__dot {
  background-color: tomato;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.screen-header__icons-cog {
  position: relative;
}
